<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Off"
      internalLogFile="..\logs\curupira-nlog-internal.log">
    <targets async="true">
        <target xsi:type="File" name="file" fileName="..\logs\console-${shortdate}.log"
                layout="${longdate}|${level:uppercase=true}|${message} ${exception:format=tostring}" />

        <target xsi:type="Console" name="console" writeBuffer="true"
                layout="${longdate}|${level:uppercase=true}|${message} ${exception:format=tostring}" />
    </targets>

    <rules>
        <logger name="*" ruleName="fileRule" minlevel="Info" writeTo="file" />
        <logger name="*" ruleName="consoleRule" minlevel="Trace" writeTo="console" />
    </rules>
</nlog>